* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-areas:
    "nav nav nav"
    "main main side"
    "footer footer footer";
  height: 100%;
  background-color: #f5f5f5;
}

button {
  padding: 12px 20px;
  cursor: pointer;
}

nav {
  grid-area: nav;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

nav div {
  display: flex;
  max-height: 100%;
}

nav div img {
  height: 60px;
}

nav h2 {
  margin-left: 20px;
}

#main {
  grid-area: main;
  overflow: scroll;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.card {
  min-width: 250px;
  width: 40%;
}

.card img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fff;
  height: max-content;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px 24px 24px 24px;
}

.card-container img {
  width: 100px;
  height: auto;
}

.tag {
  font-size: 80%;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  background-color: burlywood;
  margin-right: 12px;
}

.tag-female {
  background-color: pink;
}

.tag-male {
  background-color: lightblue;
}

.card .button-container {
  display: flex;
  justify-content: flex-end;
}

.card button {
  padding: 12px 20px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}

aside {
  grid-area: side;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

aside select {
  width: 100%;
  margin-bottom: 20px;
}

aside label {
  width: 100%;
  margin-bottom: 12px;
}

aside div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#filter-button {
  background-color: rgb(10, 174, 10);
  color: white;
}

#reset-button {
  background-color: red;
  color: white;
}

footer {
  grid-area: footer;
  height: 80px;
  background-color: white;
  box-shadow: 8px 0px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
